03_INFRASTRUCTURE/n8n_workflows/workflow1_queue_processor.json
{
  "name": "Workflow 1 — Queue Processor",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "C:\\SFV_BLUEPRINT\\99_INBOX\\QUEUE",
        "events": ["add"],
        "options": {}
      },
      "id": "1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Watch QUEUE",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Fires when a new .json file lands in QUEUE/. Update path if VAULT_PATH changes."
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst raw = $input.first().json;\nconst filePath = (raw.path || '').replace(/\\\\/g, '/');\n\n// Only process .json files\nif (!filePath.endsWith('.json')) return [];\n\nlet task;\ntry {\n  task = JSON.parse(fs.readFileSync(filePath, 'utf8'));\n} catch(e) {\n  return [];\n}\n\n// Skip non-PENDING tasks (e.g. already processed on restart)\nif ((task.status || '').toUpperCase() !== 'PENDING') return [];\n\nconst task_type = (task.task_type || 'CLASSIFY').toUpperCase();\n\nlet route, model;\nif (task_type === 'RESEARCH') {\n  route = 'RESEARCH';\n  model = null;\n} else if (task_type === 'CODE') {\n  route = 'OLLAMA';\n  model = 'qwen2.5-coder:7b';\n} else if (task_type === 'VISION') {\n  route = 'OLLAMA';\n  model = 'minicpm-v:8b';\n} else {\n  // CLASSIFY, SUMMARIZE, COMPRESS, BLUEPRINT, and anything else\n  route = 'OLLAMA';\n  model = 'qwen3:14b';\n}\n\nconst vault = 'C:/SFV_BLUEPRINT';\n\nreturn [{\n  json: {\n    task_id:      task.task_id || path.basename(filePath, '.json'),\n    topic:        task.topic || 'unknown',\n    task_type,\n    prompt:       task.prompt || '',\n    priority:     task.priority || 'NORMAL',\n    output_target: (task.output_target || '').replace(/\\\\/g, '/'),\n    file_path:    filePath,\n    route,\n    model,\n    vault\n  }\n}];"
      },
      "id": "2b3c4d5e-6f7a-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Read Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Reads task JSON, sets route and model. CODE→qwen2.5-coder:7b, VISION→minicpm-v:8b, RESEARCH→HANDOFF, all others→qwen3:14b. Returns [] for non-PENDING tasks."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-route-ollama",
              "leftValue": "={{ $json.route }}",
              "rightValue": "OLLAMA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c4d5e6f-7a8b-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Route?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "true (output 0) → Ollama (CODE=qwen2.5-coder:7b, VISION=minicpm-v:8b, default=qwen3:14b). false (output 1) → Non-Ollama Handler (RESEARCH→HANDOFF)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendHeaders": false,
        "sendQuery": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $json.model || 'qwen3:14b', prompt: $json.prompt, stream: false, keep_alive: '10m' }) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4d5e6f7a-8b9c-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 180],
      "notes": "POSTs to Ollama with model from task (CODE=qwen2.5-coder:7b, VISION=minicpm-v:8b, default=qwen3:14b). keep_alive=10m. Timeout 5 min."
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\n// Original task data from before HTTP Request replaced the item\nconst task = $('Read Task').first().json;\nconst ollamaOut = $input.first().json;\nconst response = ollamaOut.response || (ollamaOut.error ? 'ERROR: ' + ollamaOut.error : 'ERROR: Empty response');\n\nconst vault = task.vault;\nconst ts = new Date().toISOString().replace('T', ' ').slice(0, 19);\n\n// Confidence detection — mirrors ollama_queue_test.py logic\nconst lower = response.toLowerCase();\nconst LOW_WORDS  = ['unsure', 'uncertain', 'not sure', 'unclear'];\nconst HIGH_WORDS = ['certain', 'confident', 'clear', 'definitive', 'branch is', 'classification is', 'confidence: high'];\nconst isLow  = LOW_WORDS.some(w => lower.includes(w));\nconst isHigh = !isLow && HIGH_WORDS.some(w => lower.includes(w));\nconst confidence = isHigh ? 'HIGH' : 'LOW';\n\nlet status, outPath, action, handler;\n\nif (confidence === 'HIGH') {\n  const outputContent = [\n    '---',\n    'TASK_ID: ' + task.task_id,\n    'DATE: ' + ts,\n    'PROCESSED_BY: OLLAMA',\n    'STATUS: DRAFT',\n    'REVIEW_REQUIRED: YES',\n    '---',\n    '',\n    '# OUTPUT — ' + task.topic,\n    '',\n    response,\n    ''\n  ].join('\\n');\n\n  const outputDir = vault + '/99_INBOX/OUTPUTS';\n  fs.mkdirSync(outputDir, { recursive: true });\n  outPath = task.output_target || (outputDir + '/' + task.task_id + '_RESULT.md');\n  fs.writeFileSync(outPath, outputContent, 'utf8');\n  status  = 'COMPLETE';\n  action  = 'OLLAMA_' + task.task_type + ' (HIGH CONFIDENCE)';\n  handler = 'OLLAMA';\n} else {\n  const handoff = {\n    handoff_id:            task.task_id + '-HANDOFF',\n    task_type:             'REASONING',\n    priority:              task.priority,\n    source_task:           task.file_path,\n    context_budget_tokens: 1500,\n    summary:               response.split(/(?<=[.!?])\\s+/).slice(0, 3).join(' '),\n    key_findings:          [],\n    unresolved:            [response],\n    relevant_files:        [],\n    do_not_include:        [],\n    ollama_confidence:     'LOW',\n    escalation_reason:     'ollama_confidence=LOW — escalated to Claude'\n  };\n  const handoffsDir = vault + '/99_INBOX/HANDOFFS';\n  fs.mkdirSync(handoffsDir, { recursive: true });\n  outPath = handoffsDir + '/' + task.task_id + '_HANDOFF.json';\n  fs.writeFileSync(outPath, JSON.stringify(handoff, null, 2), 'utf8');\n  status  = 'ESCALATED';\n  action  = 'ESCALATE_TO_CLAUDE (LOW CONFIDENCE)';\n  handler = 'CLAUDE';\n}\n\n// Update task JSON status in QUEUE/\nconst taskData = JSON.parse(fs.readFileSync(task.file_path, 'utf8'));\ntaskData.status = status;\ntaskData.processed_at = ts;\ntaskData.output_written_to = outPath;\nfs.writeFileSync(task.file_path, JSON.stringify(taskData, null, 2), 'utf8');\n\n// Append table row to DECISION_LOG.md\nconst row = `| ${ts} | ${task.task_id} | ${action} | ${handler} | ${status} | ${outPath.replace(vault, '%VAULT%')} |\\n`;\nfs.appendFileSync(vault + '/99_INBOX/DECISION_LOG.md', row, 'utf8');\n\nreturn [{ json: { task_id: task.task_id, topic: task.topic, status, confidence, output: outPath } }];"
      },
      "id": "5e6f7a8b-9c0d-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Write + Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 180],
      "notes": "HIGH CONFIDENCE → writes OUTPUTS/[task_id]_RESULT.md. LOW → writes HANDOFFS/[task_id]_HANDOFF.json. Always updates task JSON status and appends DECISION_LOG table row."
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst task = $input.first().json;\nconst vault = task.vault;\nconst ts = new Date().toISOString().replace('T', ' ').slice(0, 19);\n\n// RESEARCH tasks → write HANDOFF for Claude (no Perplexity integration)\nconst handoff = {\n  handoff_id:            task.task_id + '-HANDOFF',\n  task_type:             'RESEARCH',\n  priority:              task.priority,\n  source_task:           task.file_path,\n  context_budget_tokens: 1500,\n  summary:               'task_type=RESEARCH requires deep research — direct handoff to Claude.',\n  key_findings:          [],\n  unresolved:            [task.prompt],\n  relevant_files:        [],\n  do_not_include:        [],\n  ollama_confidence:     'N/A',\n  escalation_reason:     'task_type=RESEARCH — direct handoff, no Perplexity integration active'\n};\n\nconst handoffsDir = vault + '/99_INBOX/HANDOFFS';\nfs.mkdirSync(handoffsDir, { recursive: true });\nconst outPath = handoffsDir + '/' + task.task_id + '_HANDOFF.json';\nfs.writeFileSync(outPath, JSON.stringify(handoff, null, 2), 'utf8');\n\nconst taskData = JSON.parse(fs.readFileSync(task.file_path, 'utf8'));\ntaskData.status = 'ESCALATED';\ntaskData.processed_at = ts;\ntaskData.output_written_to = outPath;\nfs.writeFileSync(task.file_path, JSON.stringify(taskData, null, 2), 'utf8');\n\nconst status = 'ESCALATED';\nconst action = 'RESEARCH_HANDOFF';\nconst handler = 'CLAUDE';\n\nconst row = `| ${ts} | ${task.task_id} | ${action} | ${handler} | ${status} | ${outPath.replace(vault, '%VAULT%')} |\\n`;\nfs.appendFileSync(vault + '/99_INBOX/DECISION_LOG.md', row, 'utf8');\n\nreturn [{ json: { task_id: task.task_id, route: task.route, status, output: outPath } }];"
      },
      "id": "6f7a8b9c-0d1e-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Non-Ollama Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420],
      "notes": "RESEARCH → writes HANDOFF JSON for Claude. Updates task status to ESCALATED and logs to DECISION_LOG."
    }
  ],
  "pinData": {},
  "connections": {
    "Watch QUEUE": {
      "main": [
        [
          { "node": "Read Task", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Task": {
      "main": [
        [
          { "node": "Route?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route?": {
      "main": [
        [
          { "node": "Call Ollama", "type": "main", "index": 0 }
        ],
        [
          { "node": "Non-Ollama Handler", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          { "node": "Write + Log", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000002",
  "meta": {
    "instanceId": "sfv-engine-local",
    "_sfv_notes": [
      "Import: n8n Settings → Workflows → Import from file",
      "Pre-requisites: run n8n_env.ps1 first — sets OLLAMA_URL, VAULT_PATH, NODE_FUNCTION_ALLOW_BUILTIN=fs,path",
      "Model routing: CODE→qwen2.5-coder:7b, VISION→minicpm-v:8b, CLASSIFY/SUMMARIZE/default→qwen3:14b, RESEARCH→HANDOFF",
      "Confidence routing: HIGH → OUTPUTS/[task_id]_RESULT.md | LOW → HANDOFFS/[task_id]_HANDOFF.json",
      "RESEARCH tasks: write HANDOFF directly for Claude (no Perplexity/Tavily integration active)",
      "keep_alive=10m on all Ollama calls — pairs with Workflow 2 pre-warm cron"
    ]
  },
  "id": "7a8b9c0d-1e2f-4a3b-4c5d-6e7f8a9b0c1d",
  "tags": ["sfv-engine", "queue", "ollama"]
}
